.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  box-sizing: border-box;
  background-color: #f5f6f7;
  padding: 20px;
  cursor: pointer;
}

.product:hover {
  outline: 6px solid #aa9b77;
}

.product-link {
  display: block;
  text-decoration: none;
  margin: 50px;
}

.size {
  color: black;
}

.name-and-price {
  display: flex;
  justify-content: space-between;
}

.product-name {
  color: #aa9b77;
}
.product-price {
  font-weight: bold;
  color: #000;
}

.clothes-img {
  text-align: center;
}
