.slider-buttons-block {
  width: 25px;
  display: flex;
  justify-content: space-between;
}
.slider-button {
  border: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.slider-button:hover {
  color: #aa9b77;
}
